@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
}

h1 {
  font-size:20px;
  text-align: center;
}

#columns-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.drop-column {
  width: 30%;
  min-height: 200px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.drop-column h2 {
  font-size:13px;
  text-align: center;
  margin-bottom: 5px;
}

.drop-column:hover {
  background-color: #f0f0f0;
}

#words-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.draggable-word {
  position: relative; /* Necessary for top-right error icon */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px;
  cursor: move;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.draggable-word.dragging {
  opacity: 0.5;
  border: 2px dashed #666;
}

.error-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  color: red;
  font-weight: bold;
  display: none; /* Hidden by default; shown if incorrect. */
}

#submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  background: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

#results {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
